<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FactoSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ServiceTramasMicros.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpsBinding_IService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--Aquí abajo debe indicarse el EndPoint de la NUBE-->
      <endpoint address="https://nterrorsinfo.azurewebsites.net/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService1"
        contract="WSLogMicros.IService1" name="BasicHttpsBinding_IService1" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!--Valor de activación 1-->
    <add key="AllLogsEnabled" value="0" />
    <!--Valor en minutos-->
    <add key="PingToCloud" value="5" />
    <!--Valor en segundos-->
    <add key="TimeSleep" value="10" />
  </appSettings>
  <applicationSettings>
    <FactoSender.Properties.Settings>
      <setting name="FactoSender_Facto_FactoEndPointsService" serializeAs="String">
        <value>https://www.factocloud.com.mx/facto/FactoEndPointsService</value>
      </setting>
    </FactoSender.Properties.Settings>
  </applicationSettings>
</configuration>